VITE_SUPABASE_PROJECT_ID="ljhjrwxpshttgzksosnu"

VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxqaGpyd3hwc2h0dGd6a3Nvc251Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTY5OTU4OCwiZXhwIjoyMDk3Mjc1NTg4fQ.yQFpvMHADVpdyIYjaFprQM7--3RTPGDCY47rJWhHvwM"

VITE_SUPABASE_URL="https://ljhjrwxpshttgzksosnu.supabase.co"



VITE_GEMINI_API_KEY="AIzaSyBernv6j0gcpelKBu06JtrEnSCQh_w6xs"
GOOGLE_API_KEY="AIzaSyBernv6j0gcpelKB-u06JtrEnSCQh_w6xs"
GEMINI_API_KEY="AIzaSyBernv6j0gcpelKB-u06JtrEnSCQh_w6xs"

